@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    color: coral;
    font-weight: bold;
    user-select: none;
}

.border-bottom {
    position: absolute;
    border-bottom: 1px solid #fff;
    left: 10%;
    right: 10%;
    bottom: 0;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}

button {
    cursor: pointer;
}