@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.home {
    background-color: #a0d2eb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        border: 2px solid #fff;
        border-radius: 8px;
        width: 70%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include tablet() {
            width: 90%;
        }
    }
}