.message {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    .messageInfo {
        display: flex;
        flex-direction: column;
        color: gray;
        font-weight: 300;
        font-size: 10px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .messageContent {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-wrap: break-word;
        white-space: -moz-pre-wrap;
        white-space: pre-wrap;
        .wrap-img {
            max-width: 100%;
            img {
                border-radius: 4px;
                width: 100%;
            }
        }
        p {
            background-color: #fff;
            padding: 10px 20px;
            border-radius: 0 10px 10px 10px;
            max-width: 100%;
            word-wrap: break-word;
            white-space: -moz-pre-wrap;
            white-space: pre-wrap;
        }
    }
    &.owner {
        flex-direction: row-reverse;
        .messageContent {
            align-items: flex-end;
            p {
                background-color: #45b8ac;
                color: #fff;
                border-radius: 10px 0 10px 10px;
            }
        }
    }
}
